body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg fill-opacity='0.49'%3E%3Crect fill='%23008CFF' width='11' height='11'/%3E%3Crect fill='%23258aff' x='10' width='11' height='11'/%3E%3Crect fill='%233689ff' y='10' width='11' height='11'/%3E%3Crect fill='%234487ff' x='20' width='11' height='11'/%3E%3Crect fill='%234f85ff' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%235a83fe' y='20' width='11' height='11'/%3E%3Crect fill='%236381fd' x='30' width='11' height='11'/%3E%3Crect fill='%236c7ffc' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23747dfb' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%237c7afa' y='30' width='11' height='11'/%3E%3Crect fill='%238478f9' x='40' width='11' height='11'/%3E%3Crect fill='%238b75f7' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%239273f5' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%239970f3' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23a06df1' y='40' width='11' height='11'/%3E%3Crect fill='%23a66bef' x='50' width='11' height='11'/%3E%3Crect fill='%23ac68ec' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23b264e9' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23b861e7' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23bd5ee3' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23c35ae0' y='50' width='11' height='11'/%3E%3Crect fill='%23c857dd' x='60' width='11' height='11'/%3E%3Crect fill='%23cd53d9' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23d24fd6' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23d74ad2' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23db46ce' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23df41ca' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23e33cc5' x='70' width='11' height='11'/%3E%3Crect fill='%23e737c1' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23eb31bc' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23ef2bb8' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23f224b3' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23f51bae' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23f810a9' x='80' width='11' height='11'/%3E%3Crect fill='%23fb00a4' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23fe009f' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23ff0099' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23ff0094' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23ff008e' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23ff0089' x='90' width='11' height='11'/%3E%3Crect fill='%23ff0083' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23ff007e' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23ff0078' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23ff0072' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23ff006d' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23ff0067' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23ff0061' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23ff005b' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23ff0055' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23ff004f' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23ff0049' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23ff0043' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23ff003d' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23ff0036' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23ff0030' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23ff0029' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23ff0021' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23ff0019' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23ff000e' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23FF0000' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

form {
    width: 300px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0px 0px 5px #ddd;
}

label {
    display: inline-block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="password"], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ddd;
}

input[type="radio"] {
    margin: 0 5px 0 0;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="checkbox"] {
    margin: 0 5px 0 0;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(59, 171, 196);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .popup.show {
    display: block;
  }
